.nav{
    float:left;
    margin:10px;
    padding: 20px;
    background-color: royalblue;
    border-radius: 5px;
    border: 5px;
    border-color: midnightblue;
    height: 500px;
  }

.item a{
  color: white;
  text-decoration: none;
}

.item a.activeLink{
  color: gold;
}
