.nav {
  display: flex;
  padding: 10px;
  flex-direction: column;
  width: 100px;
  vertical-align: top;
  background-color: #202020;
  border-radius: 5px;
  border: 5px;
}

a {}

.item {

  margin-left: 15px;
  margin-bottom: 5px;
}

.item a {
  width: 100%;
  text-decoration: none;
  color: #00d8ff;
}

.item .activeLink {
  color: darkorange;
}